{% extends "base.html" %}

{% block title %}About - Astralis Fest{% endblock %}

{% block content %}
    
<!-- about_area_start  -->

<div class="about_area black_bg ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80 mt-5">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" >About Our Fest</h3>
                    <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s" >The event regularly attracts a diverse range of attendees from around the world, across different professions, and with different.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="about_thumb">
                    <div class="shap_3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="img/shape/shape_3.svg" alt="">
                    </div>
                    <!-- <div class="thumb_inner  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <img src="img/about/about.png" alt="">
                    </div> -->
                    <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/zBrPRO-Tn4o?si=1p6_1oPAn0yYk4ar" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about_info pl-68">
                    <h4 class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">It’s time to book your seat</h4>
                    <p  class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">Welcome to the Official Website of the 28th Edition of Techfest, Asia's Largest Science and Technology Festival! We, the students of INDIAN INSTITUTE OF TECHNOLOGY-BOMBAY, have been passionately working over the past few months to bring you an unforgettable experience at Techfest 2024-2025. This year's edition is packed with a wide array of events, promising an exhilarating journey that will leave a lasting impression. Your adventure begins right here on this website! Explore all the available avenues to ensure you don't miss a moment of the excitement and innovation that awaits you at Techfest 2024-25</p>
                    <!-- <a href="#" class="boxed-btn3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Buy Tickets</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end  -->
 <!-- about_area_start  -->
 <div class="about_area black_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">About The Theme</h3>
                    <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                        The event regularly attracts a diverse range of attendees from around the world, across different professions, and with different.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <!-- Right content (Text & Button) moved to left -->
            <div class="col-lg-5 col-md-6">
                <div class="about_info pl-68">
                    <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">It’s time to book your seat</h4>
                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
                        Welcome to the Official Website of the 28th Edition of Techfest, Asia's Largest Science and Technology Festival! We, the students of INDIAN INSTITUTE OF TECHNOLOGY-BOMBAY, have been passionately working over the past few months to bring you an unforgettable experience at Techfest 2024-2025. This year's edition is packed with a wide array of events, promising an exhilarating journey that will leave a lasting impression. Your adventure begins right here on this website! Explore all the available avenues to ensure you don't miss a moment of the excitement and innovation that awaits you at Techfest 2024-25.
                    </p>
                    <!-- <a href="#" class="boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Buy Tickets</a> -->
                </div>
            </div>

            <!-- Left content (Video) moved to right -->
            <div class="col-lg-7 col-md-6">
                <div class="about_thumb">
                    <div class="shap_3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="img/shape/shape_3.svg" alt="">
                    </div>
                    <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/zBrPRO-Tn4o?si=1p6_1oPAn0yYk4ar" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_area black_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" >About Our College</h3>
                    <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s" >The event regularly attracts a diverse range of attendees from around the world, across different professions, and with different.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="about_thumb">
                    <div class="shap_3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="img/shape/shape_3.svg" alt="">
                    </div>
                    <!-- <div class="thumb_inner  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <img src="img/about/about.png" alt="">
                    </div> -->
                    <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/zBrPRO-Tn4o?si=1p6_1oPAn0yYk4ar" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about_info pl-68">
                    <h4 class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">It’s time to book your seat</h4>
                    <p  class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">Welcome to the Official Website of the 28th Edition of Techfest, Asia's Largest Science and Technology Festival! We, the students of INDIAN INSTITUTE OF TECHNOLOGY-BOMBAY, have been passionately working over the past few months to bring you an unforgettable experience at Techfest 2024-2025. This year's edition is packed with a wide array of events, promising an exhilarating journey that will leave a lasting impression. Your adventure begins right here on this website! Explore all the available avenues to ensure you don't miss a moment of the excitement and innovation that awaits you at Techfest 2024-25</p>
                    <!-- <a href="#" class="boxed-btn3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Buy Tickets</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about_area_end  -->
<!-- about_area_end  -->
    
{% endblock %}
