{% extends "base.html" %}

{% block title %}Events - Astralis Fest{% endblock %}

{% block content %}
<div class="performar_area black_bg" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title mb-80">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" style="text-align: center; ">Our Events</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    {% for event in events %}
                    <div class="col-lg-6 col-md-6">
                        <div class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div data-tilt class="thumb">
                                <img src="{{ url_for('static', filename='uploads/' + event.image) }}" alt="{{ event.title }}">
                            </div>
                            <div class="performer_heading">
                                <h4>{{ event.title }}</h4>
                                <a class="event-info custom-event-info" href="{{ url_for('app_routes.event_detail', event_id=event.id) }}">More Info</a>
                            </div>
                        </div>  
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
