{% extends "base.html" %}

{% block title %}{{ event.title }} - Astralis Fest{% endblock %}

{% block content %}
<div class="about_area black_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80 mt-5">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">{{ event.title }}</h3>
                </div>
            </div>
        </div>
        
        <div class="row align-items-center">
            <!-- Left Section (Event Info) -->
            <div class="col-lg-7 col-md-6">
                <div class="about_info pl-68">
                    <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Event Details</h4>
                    <p><strong>Date & Time:</strong> {{ event.date }} at {{ event.time }}</p>
                    <p><strong>Venue:</strong> {{ event.venue }}</p>
                    <p><strong>Registration Fees:</strong> {{ event.registration_fees }}</p>
                    
                    <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">Description</h4>
                    <p>{{ event.description }}</p>

                    <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Rules</h4>
                    <ul style="color: rgb(170, 177, 183);">
                        {% for rule in event.get_rules_list() %}
                            <li>{{ rule }}</li>
                        {% endfor %}
                    </ul>

                    
                    <!-- Buttons Section -->
<div class="mt-4 d-flex flex-column flex-md-row align-items-center justify-content-center">
    <a href="{{ url_for('app_routes.events') }}" class="boxed-btn3 mb-2 mb-md-0 mr-md-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".8s">Back to Events</a>

    {% if event.registration_link %}
        <a href="{{ event.registration_link }}" target="_blank" class="boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".9s">Register for Event</a>
    {% else %}
        <button class="boxed-btn3 disabled wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".9s">No Registration Link Available</button>
    {% endif %}
</div>

                </div>
            </div>

            <!-- Right Section (Event Image) -->
           <!-- Right Section (Event Image) -->
<!-- Right Section (Event Image) -->
<div class="col-lg-5 col-md-6 d-flex justify-content-center justify-content-md-start">
    <div class="about_thumb text-center text-md-left">
        <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <img src="{{ url_for('static', filename='uploads/' + event.image) }}" alt="Event Image" class="img-fluid mt-3 mt-md-0" style="max-width: 100%;">
        </div>
    </div>
</div>


        </div>
    </div>
</div>
{% endblock %}
